body {
  background-color: black;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.canvas-cntr {
  width: 800px;
  height: 600px;
  background-image: url(../earth-3.jpg);
  background-size: cover;
}
