body {
  background-color: black;
  overflow: hidden;
  color: #ccc;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.canvas-cntr {
  width: 700px;
  height: 500px;
  margin: 10px auto;
  border: 3px solid #333;
  background-image: url(../imgs/earth-3.jpg);
  background-size: cover;
}

h1, p {
 width: 700px;
 margin: 5px auto;
}

h1 {
  width: 350px;
}
