body {
  background-color: #000;
  overflow: hidden;
  color: #ccc;
}

body::after {
  background-image: url(../imgs/milkyway.jpg);
  /* background-position: center center; */
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

a {
  text-decoration: none;
  color: #bbb;
  transition: color 1s;
}

a:hover {
  color: #fff;
}


.preload > img {
  position: absolute;
  overflow: hidden;
  left: -9999px;
  top: -9999px;
}

body * {
  transition: top 1s, bottom 1s, opacity 0.5s;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.canvas-cntr {
  width: 700px;
  height: 500px;
  margin: 10px auto;
  border: 3px solid #333;
  background-image: url(../imgs/earth-3.jpg);
  background-size: cover;
}

canvas {
  position: absolute;
}

header {
  margin: 25px auto;
  position: relative;
  top: 700px;
  width: 100%;

}

h1 {
  display: block;
  font-size: 48px;
  margin: 10px auto;
  position: relative;
  width: 620px;
  z-index: 10;
}

ul {
  list-style-type: none;
}

ul * {
  float: left;
  margin: 0 5px;
}

ul > li {
  clear: both;
}

li > div:first-child {
  display: block;
  width: 50px;
  text-align: right;
}

li > div:last-child {
  color: #99b;
}

.intro {
  transition: opacity 1.5s;
}

.intro * {
  text-align: center;
  /* transition: opacity 0.5s; */
}

button {
  background-color: #bbb;
  border: 2px solid #999;
  border-radius: 5px;
  color: #222;
  display: block;
  font-size: larger;
  font-weight: 700;
  height: 45px;
  margin: 10px auto;
  position: relative;
  width: 200px;
  transition: background-color 1s;
}

button:hover {
  background-color: #fff;
}

.start-options {
  opacity: 0;
  transition: 2s;
}

.intro p {
  font-size: 24px;
  margin: 20px auto;
  opacity: 0;
  width: 500px;
}

.game-board {
  position: relative;
  top: -2000px;
  transition: top 2s, opacity 1s;
}

.scores {
  float: left;
  margin-left: 50px;
  font-size: 24px;
}

.scores > div {
  margin: 20px auto;
}

.controls {
  float: right;
  margin-right: 10px;
}

#drones {
  max-width: 200px;
  height: 100px;
}

#drones > img {
  float: left;
  height: 20px;
  width: 40px;
}

#deathtoll {
  color: #d00;
  font-weight: 700;
}

#shield {
  color: seagreen;
  font-weight: 700;
}

.end-game, .new-game {
  background-color: rgba(125, 150, 175, 0.6);
  border: 3px solid #222;
  border-radius: 7px;
  left: calc(50% - 335px);
  margin: 10px;
  position: absolute;
  text-align: center;
  width: 650px;
}

.end-game {
  font-size: 24px;
  top: -100%;
}

.new-game {
  font-size: 18px;
  bottom: -100%;
}

.new-game > * {
  margin: 7px auto;
}

.new-game h3 {
  font-weight: 700;
  text-align: center;
  margin: 5px auto;
}

.new-game button {
  margin: 20px auto 10px;
  opacity: 1;
  width: 80%;
}

.options {
  width: 50%;
  float: left;
}

.options > button {
  background-color: #333;
  color: #ccc;
  float: left;
  font-size: 14px;
  height: 25px;
  margin: 2px 2%;
  width: 96%;
}

.options > button.selected {
  background-color: #ccc;
  color: #333;
}

button > ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

button > ul > li {
  display: block;
  font-size: 16px;
  float: left;
  clear: none;
  margin: 0 5px 0 20px;;
  padding: 0;
}

button > ul > li:first-child {
  text-align: left;
  width: 60%;
}

button > ul > li:nth-child(2) {
  text-align: left;
  width: 20%;
}
